@font-face {
  font-family: Raleway-r;
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-b;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-el;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: Raleway-l;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: Raleway-m;
  src: url("../fonts/Raleway-Medium.ttf")
}
@font-face {
  font-family: Myriad-Pro-r;
  src: url("../fonts/Myriad-Pro-Regular.ttf")
}

@font-face {
  font-family: font-awesome;
  src: url("../fonts/FontAwesome.otf");
}

@font-face {
  font-family: font-awesome;
  src: url("../fonts/fontawesome-webfont.ttf");
}