<div class="modal-header light-blue-bg">
    <a class="pull-right" modal-fullscreen href="#" > </a>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body overlay-wrapper">
<form name="groupForm">
    <div class="col-md-12" ng-show="errors">
        <div class="alert alert-danger">
            <strong>Please Fix the Following:</strong>
            <p ng-repeat="error in errors">{{error}}</p>
        </div>
    </div>
    <uib-tabset  class="nav-tabs-custom">
        <uib-tab heading="Group">
            <div class="form-group">
                <label for="name">Group Name</label>
                <input id="name" required="required" class="form-control" ng-model="group.name" type="text"  name="name">
                <span ng-show=  "groupForm.name.$dirty && groupForm.name.$invalid"  class="help-inline text-red">Group Name Required</span>
            </div>
			
			<div class="form-group">
                <label for="description">Group Description</label>
                <textarea id="description" required="required" rows="3" class="form-control" name="description"  ng-model="group.description"></textarea>
                <span ng-show="groupForm.description.$dirty && groupForm.description.$invalid" class="help-inline text-red">Group Description Required</span>
            </div>
            

        </uib-tab>
       

    </uib-tabset>


    </form>
<div class="overlay" ng-show="isLoading.grid">
		<i class="fa fa-refresh fa-spin"></i>
	</div>

</div>
<div class="modal-footer">
   <button class="btn btn-success" type="button" ng-click="ok()"><i class="fa fa-check"></i>Save</button>
    <button class="btn btn-danger" type="button" ng-click="cancel(group)"><i class="fa fa-ban"></i>Cancel</button>
</div>

