<div class="modal-header light-blue-bg">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">

                    <div class="box-body no-padding">
                      <div class="mailbox-read-info">
                        <h3><i class="fa fa-envelope"></i> {{message.sender_email}}
                        <span class="mailbox-read-time pull-right"> <i class="fa fa-calendar"></i> {{message.contact_date}}</span></h3>
                      </div>

                    </div>

		
</div>
<div class="modal-footer">
    <button class="btn bg-olive" type="button btn-flat" ng-click="$close()"><i class="fa fa-times"></i> Close</button>
</div>











